@import "tailwindcss";

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  padding: 0;
  background: #000106c2;
}

::-webkit-scrollbar-thumb {
  background: #156e11;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d9117; 
}

